@page
@model OldCarShowroomNetworkRazorPages.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Chào mừng admin, trang quản lí toàn bộ STAFF</h1>

<p>
    <a asp-page="Create">Tạo Staff</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Họ tên
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th>
                Mật khẩu
            </th>
            <th>
               Số điện thoại
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Username">Edit</a> |
              
                <a asp-page="./Delete" asp-route-id="@item.Username">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
