@page
@model OldCarShowroomNetworkRazorPages.Pages.BookingModel
@{
}
<div>
    <form method ="post">
    <input id="carId" name="carId" type="hidden" asp-for="Car.CarId" />
    <input id="userName" name="userName" type="hidden" asp-for="user.Username" />
    <h4>Xe @Model.Car.ManufactoryNavigation.ManufactoryName @Model.Car.CarNameNavigation.CarName1 @Model.Car.CarModelYearNavigation.CarModelYear1</h4>
    <hr />
    <dl class="row">
        <div class="form-group">
            <dt class="col-sm-2">
                Họ và tên 
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.user.FullName)
            </dd>
        </div>
        <div class="form-group">
            <dt class="col-sm-2">
                Email
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.user.Email)
            </dd>
        </div>
        <div class="form-group">
            <dt class="col-sm-2">
                SĐT
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.user.Phone)
            </dd>
        </div>
        <div class="form-group">
            <dt class="col-sm-2">
                Showroom
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Car.Showroom.ShowroomName)
            </dd>
        </div>
        <div class="form-group">
            <dt class="col-sm-2">
                SĐT Showroom
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Car.Showroom.Phone)
            </dd>
        </div>
        <div class="form-group">
            <dt class="col-sm-2">
                Địa chỉ
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Car.Showroom.Address)
            </dd>
        </div>
            <dt class="col-sm-2">
                Phường
            </dt>
        <div class="form-group">
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Car.Showroom.WardsNavigation.Name)
            </dd>
        </div>
        <div class="form-group">
            <dt class="col-sm-2">
                Quận
            </dt>
        </div>
        <div class="form-group">
            <dt class="col-sm-2">
                Thành Phố
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Car.Showroom.District.Name)
            </dd>
        </div>
        <div class="form-group">
            <dt class="col-sm-2">
                Hệ thống nạp nhiên liệu:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Car.Showroom.City.Name)
            </dd>
        </div>
        <div class="form-group">
            <dt class="col-sm-2">
                Ngày
            </dt>
            <dd class="col-sm-10">
                <input id="dateTime" name="dateTime" type="date" asp-for="@Model.dateTime" placeholder="Chọn ngày tháng">
            </dd>
            @if (@Model.Msg != null)
            {
                <p style="color: red">@Model.Msg</p>
            }
        </div>
        <div class="form-group">
            <label asp-for="isBooked.Slot" class="control-label">Tên xe</label>
            <select style="background-color: #f5f3ff;" asp-for="isBooked.Slot" class="form-control" asp-items="ViewBag.Slot" id="listCarName"></select>
        </div>
        @if (@Model.Msg1 != null)
        {
            <p style="color: red">@Model.Msg1</p>
        }
    </dl>
    @if (@Model.Msg2 != null)
    {
        <p style="color: red">@Model.Msg2</p>
    }
    @if (@Model.Msg3 != null)
    {
        <p style="color: red">@Model.Msg3</p>
    }
        <div class="form-group">
            <input type="submit" value="Đặt lịch xem xe" class="btn btn-primary" />
            <a asp-page="/Index"> Quay lại trang chủ</a>
        </div>
    </form>
</div>

