@page
@using Microsoft.AspNetCore.Http
@model OldCarShowroomNetworkRazorPages.Pages.User.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Trang thông tin</h1>
@if(HttpContext.Session.GetString("Key") != null && HttpContext.Session.GetString("Role").Equals("1")){
<p>
    <a asp-page="./ListBooking" id="Username" name="Username" asp-route-id="@Model.user.Username">Danh sách lịch đặt xem xe</a>
</p>

}
<div>
    <h4>Người dùng</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.user.FullName)
        </dd>
        <dt class="col-sm-2">
            Địa chỉ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.user.Address)
        </dd>
        <dt class="col-sm-2">
            SĐT
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.user.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" id="Username" name="Username" asp-route-id="@Model.user.Username">Chỉnh sửa</a>
</div>
