@page
@model OldCarShowroomNetworkRazorPages.Pages.User.ListBuyCarModel
@{
}
<h1>Danh sách xe đã mua</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Xe
            </th>
            <th>
                Ngày xem xe
            </th>
            <th>
                Thời gian xem xe
            </th>
            <th>
                Showroom
            </th>
            <th>
                Đia chỉ
            </th>
            <th>
                SĐT Showroom
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.booking)
        {
            <tr>
                <td>
                    @item.Car.ManufactoryNavigation.ManufactoryName @item.Car.CarNameNavigation.CarName1 @item.Car.CarModelYearNavigation.CarModelYear1
                </td>
                <td>
                    @item.DayBooking.Value.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.SlotNavigation.PickupDate - @item.SlotNavigation.ReturnDate
                </td>
                <td>
                    @item.Car.Showroom.ShowroomName
                </td>
                <td>
                    @item.Car.Showroom.Address, @item.Car.Showroom.WardsNavigation.FullName, @item.Car.Showroom.District.FullName, @item.Car.Showroom.City.FullName
                </td>
                <td>
                    @item.Car.Showroom.Phone
                </td>
                @if (item.Notification == 3)

                {
                    <td>Đã mua xe với giá: @item.Car.Price VNĐ</td>
                }
                <form method="get" asp-page="BookingDetails">
                <td class="form-group">
                    <input type="hidden" id="carId" name="carId" asp-for="@item.CarId">
                    <input type="submit" value="Chi tiết" class="btn btn-link" />
                </td>
                </form>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.booking.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.booking.HasNextPage ? "disabled" : "";
}
<div style="text-align: center;">
    <a asp-page="./ListBuyCar" asp-route-pageIndex="@(Model.booking.PageIndex - 1)"
       class="btn btn-primary @prevDisabled">Trước</a>

    <a asp-page="./ListBuyCar" asp-route-pageIndex="@(Model.booking.PageIndex + 1)"
       class="btn btn-primary @nextDisabled">Tiếp</a>
</div>