@page
@model ListBookingModel
@{
}

<h1>Danh sách lịch đặt xem xe</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Xe
            </th>
            <th>
                Ngày xem xe
            </th>
            <th>
                Thời gian xem xe
            </th>
            <th>
                Showroom
            </th>
            <th>
                Đia chỉ
            </th>
            <th>
                SĐT Showroom
            </th>
            <th>
                Lý do bị hủy lịch đặt
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.booking)
        {
            <tr>
                <td>
                    @item.Car.ManufactoryNavigation.ManufactoryName @item.Car.CarNameNavigation.CarName1 @item.Car.CarModelYearNavigation.CarModelYear1 
                </td>
                <td>
                    @item.DayBooking.Value.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.SlotNavigation.PickupDate - @item.SlotNavigation.ReturnDate
                </td>
                <td>
                    @item.Car.Showroom.ShowroomName
                </td>
                <td>
                    @item.Car.Showroom.Address, @item.Car.Showroom.WardsNavigation.FullName, @item.Car.Showroom.District.FullName, @item.Car.Showroom.City.FullName
                </td>
                <td>
                    @item.Car.Showroom.Phone
                </td>
                <td>
                    @item.Note
                </td>
                @if (item.Notification == 1 || item.Notification == 2)
                {
                <form method="get" asp-page="DeleteBooking">
                    <td class="form-group">
                        <input type="hidden" id="datetime" name="datetime" asp-for="@item.DayBooking">
                        <input type="hidden" id="UserName" name="UserName" asp-for="@item.Username">
                        <input type="hidden" id="carId" name="carId" asp-for="@item.CarId">
                        <input type="submit" value="Xóa lịch" class="btn btn-primary" />
                    </td>
                    </form>
                }else if(item.Notification == 3)
                
                {
                    <td>Đã mua xe với giá: @item.Car.Expense VNĐ</td>    
                }
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.booking.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.booking.HasNextPage ? "disabled" : "";
}
<div style="text-align: center;">
    <a asp-page="./ListBooking" asp-route-pageIndex="@(Model.booking.PageIndex - 1)"
       class="btn btn-primary @prevDisabled">Previous</a>

    <a asp-page="./ListBooking" asp-route-pageIndex="@(Model.booking.PageIndex + 1)"
       class="btn btn-primary @nextDisabled">Next</a>
</div>
