@page
@model OldCarShowroomNetworkRazorPages.Pages.Showroom.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn muốn xóa showroom</h3>
<div>
    <h4>Showroom</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Tên Showroom
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Showroom.ShowroomName)
        </dd>
        <dt class="col-sm-2">
           Địa chỉ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Showroom.Address)
        </dd>
        <dt class="col-sm-2">
            Số phone
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Showroom.Phone)
        </dd>
        <dt class="col-sm-2">
            Web
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Showroom.Website)
        </dd>
        @if (Model.Msg5 != null)
        {
                    <p style="color: red">@Model.Msg5</p>
        }
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Showroom.ShowroomId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Quay lại</a>
    </form>
</div>
