@page
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor
@model OldCarShowroomNetworkRazorPages.Pages.Showroom.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách các showroom</h1>
@if (HttpContext.Session.GetString("Key") != null && HttpContext.Session.GetString("Role").Equals("2"))
{
<p>
    <a asp-page="Create">Thêm showroom</a>
</p>
<p>
    <a asp-page="./ListCar">Danh sách xe chờ kí gửi</a>
</p>
<p>
    <a asp-page="./ListUserBooking">Danh sách lịch khách đặt xem xe</a>
</p>
<p>
        <a asp-page="./ListSellCar">Danh sách xe đã bán</a>
</p>
}          

<table class="table">
    <thead>
        <tr>
            <th>
                Tên Showroom
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Website
            </th>
            <th>
                Ảnh chính
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Showroom)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowroomName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @if (item.ImageShowrooms != null && item.ImageShowrooms.Count > 0)
                    {
                        var mainImage = item.ImageShowrooms.FirstOrDefault(img => img.ImageMain == true);
                        if (mainImage != null)
                        {
                            <img src="@Url.Content(mainImage.Url)" alt="Ảnh chính" width="100">
                        }
                    }
                </td>
                @if (HttpContext.Session.GetString("Key") != null && HttpContext.Session.GetString("Role").Equals("2"))
                {
                    <td>
                    <a asp-page="./Edit" asp-route-id="@item.ShowroomId">Sửa</a> |
                    <a asp-page="./Details" asp-route-id="@item.ShowroomId">Chi tiết</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ShowroomId">Xóa</a>
                    </td>
                }
                else
                {
                    <td><a asp-page="./Details" asp-route-id="@item.ShowroomId">Chi tiết</a></td>

                }
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Showroom.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Showroom.HasNextPage ? "disabled" : "";
}
<div style="text-align: center;">
    <a asp-page="./Index" asp-route-pageIndex="@(Model.Showroom.PageIndex - 1)"
       class="btn btn-primary @prevDisabled">Previous</a>

    <a asp-page="./Index" asp-route-pageIndex="@(Model.Showroom.PageIndex + 1)"
       class="btn btn-primary @nextDisabled">Next</a>
</div>
