@page
@model OldCarShowroomNetworkRazorPages.Pages.Showroom.ListCarcshtmlModel
@using Microsoft.AspNetCore.Http;
@{
}
<section class="py-5">
    @if (@Model.Msg1 != null)
    {
        <h4 style="color: red">@Model.Msg1</h4>
    }
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @if (Model.car.Any())
            {
                @foreach (var car in Model.car)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Hình ảnh sản phẩm-->
                            @if (car.ImageCars != null && car.ImageCars.Count > 0)
                            {
                                var mainImage = car.ImageCars.FirstOrDefault(img => img.ImageMain == true);
                                if (mainImage != null)
                                {
                                    <img src="@Url.Content(mainImage.Url)" alt="Ảnh chính">
                                }
                            }
                            <!-- Chi tiết sản phẩm-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <p hidden>@car.CarId</p>
                                    <!-- Tên sản phẩm-->
                                    <h5 class="fw-bolder">Xe @car.ManufactoryNavigation.ManufactoryName @car.CarNameNavigation.CarName1 @car.CarModelYearNavigation.CarModelYear1</h5>
                                    <h6 class="fw-bolder">Tên người kí gửi xe: @car.UsernameNavigation.Username </h6>
                                    <h6 class="fw-bolder">SĐT: @car.UsernameNavigation.Phone </h6>
                                    <!-- Giá sản phẩm-->
                                    <h6 class="fw-bolder">Giá mong muốn: @car.MaxPrice VNĐ</h6>
                                    <h6 class="fw-bolder">Giá tối thiểu: @car.MinPrice VNĐ</h6>
                                    <h6 class="fw-bolder">Showroom: @car.Showroom.ShowroomName </h6>
                                </div>
                            </div>
                            @if (car.Notification.Equals(1))
                            {
                                <h6 class="fw-bolder">Tình trạng: Đang bán</h6>
                            }
                            <a asp-page="./UserCarDetail" asp-route-id="@car.CarId" class="btn btn-link">Xem chi tiết</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    @{

        var prevDisabled = !Model.car.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.car.HasNextPage ? "disabled" : "";
    }
    <a asp-page="./Index" asp-route-pageIndex="@(Model.car.PageIndex - 1)"
           class="btn btn-primary @prevDisabled">Previous</a>

    <a asp-page="./Index" asp-route-pageIndex="@(Model.car.PageIndex + 1)"
           class="btn btn-primary @nextDisabled">Next</a>
</section>