@page
@model OldCarShowroomNetworkRazorPages.Pages.Showroom.ListSellCarModel
@{
}
<h1>Danh sách xe đã bán</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Xe
            </th>
            <th>
                Người kí gửi xe
            </th>
            <th>
                SĐT
            </th>
            <th>
                Người mua xe
            </th>
            <th>
                SĐT
            </th>
            <th>
                Ngày bán xe
            </th>
            <th>
                Showroom
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.booking)
        {
            <tr>
                <td>
                    @item.Car.ManufactoryNavigation.ManufactoryName @item.Car.CarNameNavigation.CarName1 @item.Car.CarModelYearNavigation.CarModelYear1
                </td>
                <td>
                    @item.Car.UsernameNavigation.FullName
                </td>
                <td>
                    @item.Car.UsernameNavigation.Address
                </td>
                <td>
                    @item.UsernameNavigation.FullName
                </td>
                <td>
                    @item.UsernameNavigation.Phone
                </td>
                <td>
                    @item.DayBooking.Value.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.Car.Showroom.ShowroomName
                </td>
                <td>
                    Đã bán với giá: @item.Car.Expense VNĐ
                </td>
            </tr>
        }
    </tbody>
</table>