@page
@model OldCarShowroomNetworkRazorPages.Pages.Car.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Version)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Version)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Origin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Origin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.NumberOfKilometersTraveled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.NumberOfKilometersTraveled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.NumberOfDoors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.NumberOfDoors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.NumberOfSeats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.NumberOfSeats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Gear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Gear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Notification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Notification)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.FuelIntakeSystem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.FuelIntakeSystem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.FuelConsumption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.FuelConsumption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CarModelYearNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CarModelYearNavigation.CarModelYearId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CarNameNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CarNameNavigation.CarNameId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.ColorInsideNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.ColorInsideNavigation.ColorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.ColorNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.ColorNavigation.ColorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.DriveNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.DriveNavigation.DriveId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.FuelNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.FuelNavigation.FuelId)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.ImageCarNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.ImageCarNavigation.ImageId)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.ManufactoryNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.ManufactoryNavigation.ManufactoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.UsernameNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.UsernameNavigation.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.VehiclesNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.VehiclesNavigation.VehiclesId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Car.CarId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
